/* Your Website Styles */
h1 {
	color: #F14C38;
	font-family: 'Oswald', sans-serif;
	
	width: 500px;
	padding: 10px;
	border: 10px 
}

body {
	background-color: #144955; no-repeat center center fixed;
	  background-size: cover;
 



}

p {
	color: #F4F1E0;
	font-family: 'Oswald', sans-serif;
	width: 1000px;
	padding: 10px;
	border: 10px }

li {

	color: #F14C38;
	font-family: 'Oswald', sans-serif;
	width: 400px;
	padding: 10px;
	border: 10px 
}


a{
	color:#F4F1E0;
	font-family: 'Oswald', sans-serif;
}

/* Show Grid */
